/* Bỏ hiệu ứng shadow khi click vào nút phân trang */
.page-link:focus,
.page-link:active,
.page-item.active .page-link {
    box-shadow: none !important;
    outline: none !important;
}
thead th {
  border-bottom: 2px solid #fff;
}
